.main-sidebar {

}

.main-sidebar-menu {
  & > ul {
    .ul-reset;

    li {
      font-size: 15px;
      color: #454545;
      margin-bottom: 18px;

      a {
        display: block;
        position: relative;
        color: #454545;
        text-decoration: underline;
        transition: all 200ms;

        &:hover {
          color: #0B65A0;
          transition: all 200ms;
        }
      }

      &.active {
        a {
          color: #0B65A0;
          text-decoration: none;

          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            left: -10px;
            top: 0;
            vertical-align: middle;
            width: 4px;
            height: 100%;
            background: #0B65A0;
            border-radius: 2px;
          }
        }
      }
    }
  }
}

.main-sidebar-menu-sub {
  .ul-reset;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}